<div class="col-sm">
    <div class="d-flex justify-content-between">
        <div class="mx-2">
            <h4 class="text-dark">Draw <span class="text-primary">{{character}}</span> inside the board</h4>
        </div>
        <div class="mx-2">
            <button class="btn btn-primary btn-sm" (click)="clear()">Clear</button>
        </div>
    </div>
    <div class="mx-2">
        <p class="text-primary">You Have Drawn "{{predictedChar}}" </p>
    </div>
    <div class="wrapper" [ngClass]="{  'wrapper-error': predictError, 'wrapper-correct': predictionCorrect} ">
        <canvas #canva drawable (newImage)="predict($event)"></canvas><br>
    </div>

</div>
